{% extends "base.html" %}

{% block title %}
User Page
{% endblock %}

{% block body %}
{% with message = get_flashed_messages() %}
        {% if message %}
            {% for mess in message %}
                <p>{{mess}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h2>Welcome {{user}}</h2>

<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter you email address" value="{{email if email}}">
    <input type="submit" type="submit">
</form>

{% endblock %}
